/* global rules */
html 
{ 
    margin-left: calc(100vw - 100%);
 } 
body {
    direction: rtl !important;
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tajawal'!important;
    font-family: 'Work Sans', sans-serif;
    overflow: -moz-hidden-unscrollable !important;
    overflow-x: hidden !important;
    overflow-y: scroll;
    height: 100% !important;
    width: 100vw !important;  
    
}
.btn-pro {
    padding: 5px;
    border: none;
    margin: 5px;
    border-radius: 25px;
    height: 60px;
    width: 170px;
    background-color: rgba(116, 185, 255,0.9);
    font-weight: bold;
    color: blue;
    font-size: 22px;
}
ul {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: #000;
}
ul .insta {
    color:  #C32AA3	;
}
 ul .you {
    color: #FF0000;
} ul .twi {
    color: #00aced;
}
 ul .face {
    color: #3b5998;
}
@media(max-width: 1199px) {
    .our-services {
        width: 100vw !important;
        background-size: 100% cover!important;

    }
}    
/* end global rules */
/* start animations loading */
.spinner {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(110,168,136);
    background: linear-gradient(90deg, rgba(110,168,136,1) 23%, rgba(203,137,148,1) 83%); 
    z-index: 99;
    position: fixed;
    transition: 0.5s cubic-bezier(1, 0.01, 0.29, 1.01);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  



/* end  */
/* start nav */
nav  {
    font-size: 20px;
    z-index: 3;
    font-weight: bold;
    
}
 @media(max-width:992px){
    nav {
        background-color: #bdc3c7;
        
        }
        .navbar-brand {
        height: 55px
        }
    nav ul li button {
        background-color: #ecf0f1;
    }    
} 
@media(min-width:992px) and (max-width:1199px){
 nav .navbar-nav li  {
    padding: 0 10px !important;
 }   
}
@media(min-width:1200px) and (max-width:1399px){
    nav .navbar-nav li  {
       padding: 0 20px !important;
    }   
   }
nav .navbar-toggler {
    font-size: 35px;

}
.navbar .container a img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 15px;
}
nav ul li button {
height: 40px;
margin: 5px;
border-radius: 25px;
border: none;
font-weight:bold;
font-size: 20px;
color: blue;
}
nav ul li svg {
  color:  rgba(116, 185, 255,0.9);
  cursor: pointer;

}

/* end nav */

 /*start header  */
 .header{
     min-height: calc(100vh - 66px);
     width: 100vw ;
     margin: 0 auto;
     
     
 }
 @media(max-width:320px){
.header .header-img {
    top: 14px !important;
    left: 9px !important;
    width: 280px !important;
}
 }

 @media (min-width:321px) and (max-width:375px){
    
    .header .header-img {
    top: 6px !important;
    left: 5px !important;
    }
 }
 @media (min-width:376px) and (max-width:395px){
.header .header-img {
    top: -3px !important;
    left: 5px !important;
}
 }
 @media(min-width:396px) and (max-width:480px){
    .header .header-img {
        
        top: -21px !important;
        left: 4px!important;
    }
 }
 @media(min-width:481px) and (max-width:767px){
    .header .header-img {
        width: 400px !important;
        top: -7px !important;
        left: 4px !important;
    }
 }
 @media(min-width:768px) and (max-width:991px){
.header .header-img {
    top: -69px !important;
    left: 0 !important;
}
 }
 @media(min-width:992px) and (max-width:1199px){
    .header .header-img {
        left: -154px !important;
        top: -160px!important;
    }
 }
 @media (min-width:1200px) and (max-width:1399px){
    .header .header-img {
        top: -161px !important;
        left: 0 !important;
    }
 }
 .header .header-img {
    max-width: 750px;
    height: 535px; 
    left: -9px;
    top: -135px;
    position: relative;

 }
 .header .img1 {
   width:100% ;
   height: auto;
    left: -9px;
    top: -63px;
    z-index: 1;
    position: absolute;
 }
 .header .wave {
    max-width: 700px;
    position: relative;
    top: 0 ;
    right: 0;

   

 }
 .header .img2 {
    position: absolute;
    width: 100%;
    top: -680px;
    right: -211px;
}
    
 
.header .container .intro {
     transform: translateY(-300PX); 
    width: 400px;
    height: 300px;
     z-index: 2;
     position: absolute;
}
.header .container .intro h2 {
    font-size:28px;
    font-weight: bold;
}
@media(max-width:767px){
    .header .container .intro{
        max-width: 240px;
        text-align: center;
    }
}
.header .container .intro span {
    color:blue;
    font-size:22px;
}
.header .container .intro h2 {
    color: #FF0000;
}
 
   

 

/*start section2 */
.section2 {
    
}
@media(max-width:767px){
    .section2 {
        padding-bottom: 60px !important;
    }
    .section2 .container .intro-text {
        width: 300px;
        margin: 0 auto !important;
    }
    
}
.section2 .intro-text h6 {
    color: #dc3545 !important;
}


.section2 .icon div svg {
border: 3px solid rgba(241, 196, 15,0.9);
padding: 20px;
border-radius: 50%;
border-bottom: transparent;

}
.section2 .icon p {
    color: #e64932;
}
/* end section 2 */
/* our services */
.our-services {
    background-image: url("../img/test22.svg");
    background-repeat: no-repeat;
    height: 1000px;
    background-size: cover !important;

}
.our-services .container .heading h3  {
    color: blue;

}
/* global */
@media(max-width:992px){
    .our-services {
        height: auto !important;
    }
    .our-services .main {
        margin-top: 60px;
    }
}
/* media screen */
@media(max-width:320px){
    .our-services .container .heading h3 {
        font-size: 20px !important;
        text-align: center !important;
    }
    .our-services .container .develop {
        width: 170px !important;
        margin: 0 auto !important;
        }
    .our-services .container .card_body {
        width: 225px !important;
    }
}
@media(min-width:321px) and (max-width:480px) {
    
       .our-services .container .develop {
        display: block !important;
        margin: auto !important;
       }
       .our-services .container .card_body {
        max-width: 300px !important;
        margin: 0 auto !important;
       }
    
}
@media(min-width:481px) and (max-width:576px){  
    
    .our-services .container .develop {
        
        display: block;
        margin: auto !important;
    
    
    }

}

@media(min-width: 768px) and (max-width:991px){
    
   
    .our-services  .container .card_body p {
       width: 250px;
       margin: 0 auto !important;
    }

}
@media(min-width: 992px) and (max-width: 1199px){
    .our-services {
        margin-bottom: 50px !important;
    }
    
    .our-services .container .card_body {
        width: 255px !important;
        margin-left: auto !important;
    }
    .our-services .container .card_body p {
        width: 240px !important;
        margin:  0 auto !important;
    }
}

@media(min-width:1200px) and (max-width:1399px){
    .our-services .container .develop {
        
        margin-right: auto !important;
    }
    .our-services .container .card_body {
        width: 355px !important;
        margin-left: auto !important;
    }
   

}
@media(min-width:1400px){


.our-services .container .card_body {
    width: 390px !important;
}
}
.our-services .container .img {
    z-index: 1;
}

.our-services .container .develop
 {
    max-width: 300px ;
    height: auto ;
    overflow: hidden !important;
}
.our-services .container .card_body {
    height: 250px;
    width: 400px;
    border-radius: 40px;
    background-color:#fff;
    text-align: center;
}
.our-services .card_body h5 {
    color: blue;
}
.our-services  .container .card_body p {
    max-width: 300px;
    margin: 0 auto !important;
 }
 .our-services .container .gradient-btn {
    padding: 12px;
    border: solid 3px #43ff64d9;
     background-image: linear-gradient(white,white),
     linear-gradient(90deg, rgba(87,227,51,0.9051995798319328) 50%,
    rgba(13,214,223,0.9472163865546218) 69%)1 ;
    background-clip: content-box ,border-box;
    background-origin: border-box;
    border-radius: 22px;
    height: 45px;
    display: block;
    width: 150px;
    margin: 18px auto;
    text-decoration: none;
    color: #000;
    line-height: 20px;
    font-size: 18px;
    
 }
 .our-services .container .gradient-btn:hover {
background: rgb(87,227,51);
background: linear-gradient(90deg, rgba(87,227,51,0.9051995798319328) 50%,
 rgba(13,214,223,0.9472163865546218) 69%);

 }
 .our-services .container .intro .gradient-btn i{
    font-size: 18px;
 }
/* end our services */
/* start  blog*/
.blog .container .intro .man img {
    max-width: 500px;
    margin-top: 80px;
}
/* responsive man img */
@media(max-width:767px){
    .blog .container .intro .man img{
         max-width: 250px !important;
         margin-bottom: 20px !important;
        
}
/* responsive card */

.blog .container .card_body {
width: 275px !important;
height: 250px !important;
transform: translateY(-22px) !important;

}
.blog .container .intro .card_body p {
    padding-top: 10px !important;
    max-width: 200px !important;
    margin: auto !important;
}
.blog .container .intro .card_body input {
    width: 250px !important;
    height: 130px !important;
}
.blog .container .intro .card_body input::placeholder {
    font-size: 12px;
}
.blog .container .intro .card_body button {
    margin-top: -38px !important;
    width: 120px !important;
}
}

   
.blog .container .intro .card_body{
    height: 340px;
    width: 508px;
    background-color: #fff;
    border-radius: 35%  15%;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 9, 0.3);
    margin-top: -55px !important;
    z-index: 1;
}
.blog .container .intro .card_body p {
    padding-top: 45px;
    color: blue;
}
.blog .container .intro .card_body input {
    width: 355px;
    border: none;
    height: 150px;
    line-height: 150px;
    background-color: rgba(236, 236, 236, 0.5);
    border-radius: 15px 35px ;
    text-align: center;
    outline: none;

}
.blog .container .intro .card_body a {
    text-decoration: none;
}
.blog .container .intro .card_body button {
    display: block;
    height: 40px;
    width: 155px;
    border: none;
    border-radius: 15px;
    background-color: rgb(116, 185, 255);
    font-weight: bold;
    color: blue;
}
/* end blog */
/* start testimonials */
.testimonials {
    background-image: url('../img/Asset\ 1.svg');
    background-repeat: no-repeat;
    background-size: cover !important;
    height:auto;
    
}

@media(max-width:480px){
    .testimonials .carousel-item p {
        max-width: 250px !important;
        margin: 0 auto !important;
    }
    
}
@media(max-width:767px){
    .testimonials {
        height: auto !important;
    }
    .testimonials .carousel-control-prev {
        left: 35px !important;

    }

    .testimonials .carousel-control-next {
        right: 35px !important;
    }
    .testimonials .container button svg {
        height: 25px !important;
        width: 25px !important;
        font-size: 25px !important;
    }

}

.testimonials .carousel-item img {
    margin: 60px auto !important;
    
}
.testimonials .container .carousel-item h5 {
    color: blue;
}
.testimonials .container .carousel-item .text-bold {
    font-weight: bold;
}
.testimonials .container button svg {
    background-color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: #000;
} */
.testimonials hr {
    height: 2px;
}
/* end testimonials */
/* start footer  */
.footer .row .img {
    max-width: 70px;
}
.footer .row .icons {
text-align: left;

}
@media(max-width:480px){
    .footer .row .pay {
        max-width: 260px !important;
        margin: 0 auto !important; 
    }
    .footer .row p {
        max-width: 250px !important;
    }
    
    .footer  .links ul li a {
   text-align: center !important;  
   display: block;      
    }
    .footer ul a li svg  {
        margin: 0 4px !important;

    }
     


}
@media(min-width:481px) and (max-width:767px){
    .footer .links {
        max-width: 220px;
    }
    
    .footer .row .icons {
        text-align: center !important;
    }
    .footer  ul a li svg {
        margin: 0 8px !important;
        
    }
    
}
@media(min-width:768px) and (max-width:991px){
    .footer  .row .icons {
        text-align: center !important;

        }
        .footer  ul a li svg {
            margin: 0 8px !important;
            
        }
}
.footer .row ul li {
    margin: auto 0 !important;
}
.footer .row .left {
    text-align: left;
}
.footer .footer-heading {
    color: red;
}
.footer .footer-span {
    color: blue;
}





.footer ul a li svg  {
    margin: 0 18px;
}
.footer ul li .tik {
    color:#000;
}
.footer ul li .what {
    color: #25D366;
}
.footer ul li .pin {
    color: #BD081C;
}
/* end footer */
